@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-black {
  @apply border border-black bg-black text-white font-bold py-2 px-4 rounded text-center;
}
.btn-black:hover {
  @apply transition duration-150 bg-white text-black;
}
.btn-black-outline {
  @apply border border-black text-black py-2 px-4 rounded font-bold text-center;
}
.btn-black-outline:hover {
  @apply transition duration-150 bg-black text-white;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

h1 {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}
